body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #f0f0f0, #7397ee);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #ffffff;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
}

h2 {
    margin-top: 0;
    color: #807f7f;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 5px;
    color: #807f7f;
    font-size: 1em;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 15px;
    margin-bottom: 1.2rem;
    border: 1px solid #7397ee;
    border-radius: 9px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    outline: none;
}

input:focus {
    border-color: #f3b64c;
}

input[type="submit"] {
    padding: 12px 15px;
    background-color: #7397ee;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f3b64c;
}

p {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #666;
}

a {
    color: #4e54c8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}