* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;}

.card {
    width: 500px;
    max-height: 500px;
    background-color: #f0f0f0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    
}
 .card-header {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align:center;    
}

.card-header h1 {
    color: #807f7f;
    text-shadow: rgba(0, 0, 0, 0.3) 2px 2px 6px;
    inline-size:max-content;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 15px;
}

input[type="text"] {
    padding: 12px 15px 12px 15px;
    border: 2px solid #7397ee;
    border-radius: 10px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}
input[type="text"]:focus {
    border-color: #f3b64c;
    outline: none;
}

button {
    padding: 12px 15px;
    background-color: #7397ee;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dbaa55;
}

.card-footer {
    padding: 30px;
    background-color: #f9f9f9;
    text-align: center;
    border-top: 2px solid #eee;
    color: #636e72;
    min-height: 80px;
}